<div class="container">
  <h1>Deaf Grandma</h1>
  

  <form id="inputForm" action="/grandma"  method="post">
    Say something to Grandma:
    <br>
    <input id="input_type" type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form>
</div>

<div id="this_is_the_id" class="container">
  <p>Grandma says: <span id="grandma_says"></span></p>
</div>


